.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}
* {
  box-sizing(border-box);
}
}

.image{
	max-height: 80%;
}

#nav {
	position: fixed;
	top: 0px;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #d43e19;
}
#nav ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0; 
}
#nav li {
	float: right; 
}
#nav li a {
	color: #fff;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
}
#nav li:first-child a {
	border-left: 1px; 
}
#nav li a:hover {
	color: #fff;
	background-color: #d46e19; 
	box-shadow: 3px 3px 3px #9e0b0f;
}

#txt {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #fff;
}

#txt li {
	float: left; 
	padding-right: 10px;
}

#bold {
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

}