
* {
  box-sizing(border-box);
}

@media (max-width: 575px) {

  #header{
  	position: relative;
	text-align: center
	margin: auto;
  	font-size: 1.25em;
  	line-height: 2em;
  }

  #sub-header{
  	position: relative;
	text-align: center;
	margin: 0 auto;
  	font-size: .75em;
  }

  ul#nav-icons li{ 
  	display:block;
  	float:none;
  	margin: auto;
  	width:60%;
    padding-bottom: 25px;
    text-align: center;
    min-height: 100px;
}
.image{min-height: 5%;
}
#nav-icons{
	height: 50%;
	width: 50%;
}
.nav-icon{
margin-top: 25px;
}
.intro-txt{
	left: 5%;
	right:5%;
}
h1 .hero-txt{
	font-size: .25em;
}
.info-box {
	text-align: center;
	padding: 0;
	margin: 0;
}
}

body{
	font-family: 'Open Sans', sans-serif; 
	height: 150vh;
	width: 100%;
	margin: 0 auto;
	max-height: 600px;
}

/* cover image */
.image{
	height: 54.2%;
	width: 100%; 
	background: 
	  linear-gradient(
      rgba(165, 42, 42, 0.65), 
      rgba(165, 42, 42, 0.65) 
    ), url('../../designs/assets/bg.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	min-height:550px;
}

/* header */
span #header {
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 25px; 
	margin-bottom: 5px;
} 

span #sub-header {
	text-align: center;
	margin: 0 auto;
}

/*navigation*/
/*menu/text*/
#upper-menu{
	height: 33%;
	width: 100%;
	margin-top: 25px;
}

.menu-nav {
	padding-top: 25px;
	display: table; 
	width:100%;
	margin: auto;
	padding: auto;
	list-style-type: none;
	}

ul#nav-icons {
	opacity:.5;
	text-align: center;
	min-width: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#nav-icons li{
	display: inline-block;
}

ul#nav-icons p{
	margin:  0;
	padding: 0;
}

#nav-icons {
	width: 100%;
    margin: 0;
	list-style-type: none;
	}

li.nav-icon {
	width: 33%;
	float: left;
}
.circle{
	height: 150px;
	width: 150px;
	background: gray;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 33px;
}


p.info{
	font-size: 9pt;
	width: 205px;
	display:inline-block;
	text-align: left;
}

.intro-txt{
	margin: 0;
}
.hero-txt {
	margin: 0 auto;
	color: white;
	text-align: center;
}

h1.hero-txt{
	font-size: 48px;
}

.info-box{
	width: 210px;
	height: 75px;
	margin: 0 auto;
	padding-bottom: 20px;
}


p.info{
	display: none;
}

.circle:hover + .info-box p.info{
	display: inline-block;
}

/* signup form*/

}
.mc-embedded-subscribe {
	text-align: center;
	background-color: #000;
	color: #fff;
}

/*#icon1{
	padding: 55px;
	margin: 50px 25px 25px 25px;
	background: gray;
	border-radius: 50%;
	float: left;
}
#icon2{
	padding: 55px;
	margin: 50px 25px 25px 25px;
	background: gray;
	border-radius: 50%;
}
#icon3{
	padding: 55px;
	margin: 50px 25px 25px 25px;
	background: gray;
	border-radius: 50%;
}*/


/* lower menu text
#lower-menu{
	font-size: 11px;
	width:100%;
}

.text-nav{
	display: table; 
	width:75%;
	margin: 0 auto;
	padding: 0 auto;
	list-style-type: none;
	float: right;
}

ul#text{
	margin: 0 auto;
	padding: 0 auto;
}

ul#text li{
	width:25%;
	margin: 0 auto;
	padding: 0 auto;
	display: inline-block;
	float: left;
}

ul#text p{
	margin: 0 auto;
	padding: 0 auto;
}

#text {
	width: 100%;
    margin: 0 auto;
	list-style-type: none;
	}*/





	