
.bg-black{
	margin: 0;
	height: 68%;
	text-align: center;
	background-color: #999999;
}
#height {
	height: 100%;
	padding:25px;
}
section#height {
  text-align: center;
}

.bubble {
  width:33%;
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 1em 1em 0 0;
  color: #000;
  background: #d43e19;
  border-radius: 10px;
}

.image {
	padding: 0 1em 0 1em;
	margin:0;
	border: 2px;
	border-radius: 50%;
	float:left;
}

.quote-bub {
	color: #fff;
	font-size: .75em;
	text-align: left;
}

div#none{
	background: inherit;
}



